#head1{
    text-align: center;
}
#bgcolor{
    background-color: lightslategray;
}
#footer1{
    text-align: center;
}
#name1{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
#itemname{
    font-size: large;
    font-weight: bold;
}
#labels{
    font-weight:bold;
}
a{
    font-family: monospace;
    font-weight: normal;
    text-decoration: underline;
    color: blue;
   }
   a:link{
       color: blue;
       text-decoration: underline;
   }
   a:visited{
       color: red;
       text-decoration: underline;
   }
   a:hover{
       font-weight: bold;
       color: green;
   }
   a:active{
       color: purple;
       text-decoration: none;
}
#table{
    width: 33%;
}
#thead{
    font-weight: bold;
    text-align: right;
    color: red;
    text-decoration: underline;
}
#td1{
    text-align: left;
}
#td2{
    text-align: right;
}